/* Apple Garamond Italic */
@font-face {
  font-family: "Apple Garamond";
  src: url("/assets/fonts/AppleGaramond-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

/* Neue Haas Display - Light */
@font-face {
  font-family: "Neue Haas Display";
  src: url("/assets/fonts/NeueHaasDisplay-Light.ttf") format("truetype");
  font-weight: 300;
}

/* Neue Haas Display - Roman */
@font-face {
  font-family: "Neue Haas Display";
  src: url("/assets/fonts/NeueHaasDisplayMediu.ttf") format("truetype");
  font-weight: 500;
}

/* Neue Haas Display - Medium */
@font-face {
  font-family: "Neue Haas Display";
  src: url("/assets/fonts/NeueHaasDisplayRoman.ttf") format("truetype");
  font-weight: 400;
}
